aside {
    background-color: #59473e;
}

a {
    color: #f00194;
}

a:hover {
    color: #bd0175;
}

a.btn,
.tag-cloud a {
    background-color: #f00194;
}

a.btn:hover,
.tag-cloud a:hover {
    background-color: #bd0175;
    color: white;
}

#author-infos {
    background-color: #59473e;
    border-radius: 3px;
    color: white;
    margin: 50px 0;
    padding: 30px;
}

#author-infos a {
    color: white;
}

#author-infos h2 {
    font-size: 1.2em;
    letter-spacing: .2em;
    margin: 0 0 30px 0;
    opacity: .33;
}

#author-infos h3 {
    margin: 0;
    line-height: 24px;
}

#author-infos p {
    line-height: 24px;
    margin: 0;
    opacity: .66;
}

.author-infos__image {
    float: left;
    margin-right: 15px;
}

#author-infos img {
    border-radius: 3px;
    max-width: 48px;
}